/*---------------------------------------------Nav bar*/
.navbar {
	position: fixed;
	margin-bottom: 0;
	width: 100%;
	border: none;
	background-color: #1F1E24;
	opacity: 0;
}

.navbar-default .navbar-brand {
	color: #b7bd7f;
	font-family: "ubuntu", serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a {
	color: #b7bd7f;
	font-family: "ubuntu", serif;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fafafa;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.active {
	text-decoration: underline;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #b7bd7f;
}

.navbar-default .navbar-toggle {
	border-color: #b7bd7f;
}

.navbar-default .navbar-toggle:hover {
	background-color: #000;
}

/*---------------------------------------------home section*/
.slider {
	background-image: url('../images/road.jpg');
	height: 80vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.info-text {
	background-color: #b7bd7f;
	color: #00493a;
	font-size: 11px;
	text-align: center;
	margin-top: -200px;
	margin-bottom: 20px;
	padding: 30px;
	font-family: "Ubuntu", serif;
	box-shadow: 3px 3px 4px #000000ad;
	opacity: 0;
}

body {
	background-color: #EAF0F4;
}

.jumbotron {
	border-radius: 6px;
	color: #b7bd7f; /*#dab180;*/
	font-weight: 700;
	font-size: 24px;
	text-shadow: 3px 2px #0a0a0a;
	background-color: #0000003b;
	text-align: center;
}

.jumbotron h1 {
	font-size: 25px;
}

/*---------------------------------------------Styles for texts and titles*/
.title-format {
	color: #00493a;
	font-size: 18px;
	text-align: center;
	font-family: "Ubuntu", serif;
	font-weight: 700;
	margin-bottom: 40px;
}

.text-format {
	text-align: justify;
	font-family: "Ubuntu", serif;
	color: #00493a;
	font-size: 14px;
}

/*---------------------------------------------top 10 section*/
.thumbnail {
	border: none;
	background-color: transparent;
}

.text-center {
	padding-top: 15px;
}

.pointer {
	cursor: pointer;
}

#iconic-car {
	box-shadow: 3px 3px 4px #000000ad;
}

/*---------------------------------------------dashbord section*/
svg:not(:root) {
	background-color: #b7bd7f;
	box-shadow: 3px 3px 4px #000000ad;
}

div.dc-chart {
	float: none;
	display: block;
	text-align: center;
}

.graph-text {
	margin: 30px 25px 40px 30px;
}

/*---------------------------------------------footer*/
.footer {
	color: #b7bd7f;
	width: 100%;
	font-family: "ubuntu", serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #f5f5f5;
	text-align: center;
}

.made {
	display: inline-block;
}

.logo {
	width: 60px;
	height: 60px;
	margin-top: :10px;
	margin-bottom: 10px;
	display: inline-block;
}

/*---------------------------------------------media queries*/
@media (min-width:768px) {
	.text-format,
	.info-text {
		font-size: 20px;
	}

	.title-format {
		font-size: 25px;
	}

	.jumbotron h1 {
		font-size: 30px;
	}

}

@media (min-width:1024px) {
	.text-format,
	.info-text {
		font-size: 27px;
	}

	.title-format {
		font-size: 32px;
	}

	.jumbotron h1 {
		font-size: 55px;
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 20px;
	}

	.navbar-brand {
		font-size: 25px;
	}

}